/* ol_lower-roman */
.ol_lower-roman ol {
  display: table;
  margin: -0.4em;
  padding: 0.4em;
}

.ol_lower-roman ol li {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
  display: table-row;
  counter-increment: table-ol;
}

.ol_lower-roman ol li:before {
  content: "(" counter(table-ol, lower-roman) ")";
  display: table-cell;
  padding-right: 0.6em;
  text-align: right;
}

.ol_lower-roman ol li:after {
  content: "";
  display: block;
  margin-bottom: 0.6em;
}

.ol_lower-roman ol li:last-of-type:after {
  margin-bottom: 0;
}
/* ol_lower-roman */

/* ol_lower-latin */
.ol_lower-latin ol {
  display: table;
  margin: -0.4em;
  padding: 0.4em;
}

.ol_lower-latin ol li {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
  display: table-row;
  counter-increment: table-ol;
}

.ol_lower-latin ol li:before {
  content: "(" counter(table-ol, lower-latin) ")";
  display: table-cell;
  padding-right: 0.6em;
  text-align: right;
}

.ol_lower-latin ol li:after {
  content: "";
  display: block;
  margin-bottom: 0.6em;
}

.ol_lower-latin ol li:last-of-type:after {
  margin-bottom: 0;
}
/* ol_lower-latin */

/* ol_lower-latin_alt */
.ol_lower-latin_alt ol {
  display: table;
  margin: -0.4em;
  padding: 0.4em;
}

.ol_lower-latin_alt ol li {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
  display: table-row;
  counter-increment: table-ol;
}

.ol_lower-latin_alt ol li:before {
  content: "(" counter(table-ol, lower-latin) ")";
  display: table-cell;
  padding-right: 0.6em;
  text-align: left;
}

.ol_lower-latin_alt ol li:after {
  content: "";
  display: block;
  margin-bottom: 0.6em;
}

.ol_lower-latin_alt ol li:last-of-type:after {
  margin-bottom: 0;
}
/* ol_lower-latin_alt */

/* tbl_noboder */
tbl_noboder table,td,tr,th {border:none!important}
/* tbl_noboder */

/* tbl_html */
tbl_html {
  background-color:white;
  border-collapse: collapse;
  border:1px solid black!important;
}
/*.tbl_html {background-color:#AAAAAA}*/
/* tbl_html */

/* div_section-side */
.div_section-side {
  border: #000000 solid 2px;
  padding: 0px !important;
  color: #000000;
  background-color: #A9A9A9;
  font-size: 50% !important;
}

/* div_section-title */
.div_section-title {
  border: #000000 solid 2px;
  border-top: none;
  border-bottom: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 100% !important;
}

/* div_section-mergin */
.div_section-mergin {
  display: flex !important;
  border: #000000 solid 2px;
  border-top: none;
  border-bottom: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 40% !important;
}

/* div_box */
.div_box {
  border: #000000 solid 1px;
  font-size: 100%;
  padding: 15px;
  color: #000000;
  background-color: #ffffff;
  overflow-x: scroll;
}

/* div_img-box */
.div_img-box {
  border: #000000 solid 1px;
  font-size: 100%;
  padding: 0px;
}

/* div_column-title */
.child1 {
  background-color: black;
  border: none;
  font-size: 100%;
  padding: 2px;
  color: #ffffff;
}

.child2 {
  background-color: transparent;
}

@media (min-width: 600px) {
  .parent {
    display: flex;
  }
  
  .child1 {
    flex-grow: 1;
  }
  
  .child2 {
    flex-grow: 1;
  }
}
/* div_column-title */

/* div_left-offset */
.div_left-offset {
  padding: 0px;
  margin-left: 28px;
  color: black;
  background-color: #ffffff;
}

/* div_left-offset-smallfont */
.div_left-offset-smallfont {
  padding: 0px;
  margin-left: 28px;
  color: black;
  font-size: 95%;
  background-color: #ffffff;
}

/* div_exercise_box */
.div_exercise_box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  background-color: #ffffff;
  overflow-x: scroll;
}

/* div_padding */
.div_padding {
  padding: 40px;
  color: black;
  background-color: #ffffff;
}
